<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block head_title %}Index{% endblock %} - Batoto RSS Splitter</title>
        {% block head_style %}
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/splitter.css') }}" rel="stylesheet" media="screen">
        {% endblock %}
        {% block head_script %}
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div id="header" class="header">
            {% block body_header %}
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <span class="brand">Batoto RSS Splitter</span>
                        <ul class="nav">
                            <li><a href="{{ url_for('list_langs') }}">Home</a></li>
                            <li><a href="{{ url_for('stats') }}">Stats</a></li>
                            <li><a href="{{ url_for('about') }}">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endblock %}
        <div id="content" class="container well">
            {% block body_content %}
            {% endblock %}
        </div>
        <div id="footer" class="container footer">
            {% block body_footer %}
            <ul id="credits-list" class="row">
                <li class="span4 offset2">RSS Updates via <a href="http://www.batoto.net/">Batoto</a></li>
                <li class="span4">Source code on <a href="https://github.com/aheadley/batoto-rss-splitter">GitHub</a></li>
            </ul>
            {% endblock %}
        </div>
        {% endblock %}
        </div>
        {% block tracking %}
        {% if config.get('PIWIK_URL', False) and config.get('PIWIK_SITE_ID', False) %}
            {% include 'tracking/piwik.html' %}
        {% endif %}
        {% if config.get('GOOGLE_TRACKING_CODE', False) %}
            {% include 'tracking/ga.html' %}
        {% endif %}
        {% endblock %}
    </body>
</html>
