<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block head_title %}Index{% endblock %} - Batoto RSS Splitter</title>
        {% block head_style %}
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        {% endblock %}
        {% block head_script %}
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
        {% block body %}
        <div id="content">
            {% block body_content %}
            {% endblock %}
        </div>
        <div id="footer" class="footer">
            {% block body_footer %}
            <div id="credits">
                RSS Updates via <a href="http://www.batoto.net/">Batoto</a>
                <br/>
                Written by <a href="https://github.com/aheadley">aheadley</a>
            </div>
            <div id="copyright">
                &copy; Copyright 2012 by <a href="http://waysaboutstuff.com/">Alex Headley</a>
            </div>
            {% endblock %}
        </div>
        {% endblock %}
        </div>
    </body>
</html>
