{% extends "base.html" %}

{% block head_title %}Series{% endblock %}

{% block head_script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
    <script>
    /**
     * Shamelessly taken because I hate JS
     * @link http://kilianvalkhof.com/2010/javascript/how-to-build-a-fast-simple-list-filter-with-jquery/
     */

    (function ($) {
        // custom css expression for a case-insensitive contains()
        jQuery.expr[':'].Contains = function(a,i,m){
            return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
        };

        function listFilter(header, list) { // header is any element, list is an unordered list
            // create and add the filter form to the header
            var form = $("<form>").attr({"class":"filterform pull-right", "action":"#"}),
                input = $("<input>").attr({"class":"filterinput", "type":"text",
                    "placeholder": "Filter series..."});
            $(form).append(input).appendTo(header);

            $(input).change( function () {
                var filter = $(this).val();
                if(filter) {
                    // this finds all links in a list that contain the input,
                    // and hide the ones not containing the input while showing the ones that do
                    $(list).find("a:not(:Contains(" + filter + "))").parent().hide();
                    $(list).find("a:Contains(" + filter + ")").parent().show();
                } else {
                    $(list).find("li").show();
                }
                return false;
            }).keyup( function () {
                // fire the above change event after every letter
                $(this).change();
            });
        }

        //ondomready
        $(function () {
            listFilter($("h3"), $("#series-list"));
        });
    }(jQuery));
    </script>
{% endblock %}

{% block body_content %}
<h3>Select a series:</h3>
<ul id="series-list">
    {% for s in series %}
    <li><a href="{{ url_for('series_feed', lang_code=lang, series_id=s['id']) }}">{{ s['title']|escape }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
